<form [formGroup]="posneg">
    <div>
      <label class="label-display">Enter the Number: </label>
      <input type="number" formControlName="posnegInput" class="number-input" (keyup)="hideResult()" />
    </div>
    <button
      type="button"
      class="btn btn-primary btn-submit"
      (click)="checkPositiveOrNegative()"
    >
      Submit
    </button>
    <div class="result-text-display">
      <p *ngIf="isResultShown">
        Entered number {{ enteredNumber }} is {{ result }}.
      </p>
      <p *ngIf="isInvalidNumber">The Number is invalid</p>
    </div>
  </form>
  
