<div>
  <div class="text-format-header">
    <h2>Click on each button to perform operations</h2>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary btn-margin"
      [routerLink]="'/even-odd'"
    >
      Even Or Odd
    </button>
    <button
      type="button"
      class="btn btn-primary btn-margin"
      [routerLink]="'/calculator'"
    >
      Calculator
    </button>
    <button
    type="button"
    class="btn btn-primary btn-margin"
    [routerLink]="'/prime'"
  >
    Prime Number
  </button>
  <button
    type="button"
    class="btn btn-primary btn-margin"
    [routerLink]="'/factorial'"
  >
    Factorial
  </button>
  <button
  type="button"
  class="btn btn-primary btn-margin"
  [routerLink]="'/fibonacci'"
>
  Fibonacci
</button>
<button
type="button"
class="btn btn-primary btn-margin"
[routerLink]="'/armstrong'"
>
Armstrong
</button>
  </div>
</div>
